@size-names : 'tiny', 'mini', 'small', 'medium', 'large', 'huge', 'wide';
@skin-names : 'primary','secondary','auxiliary', 'danger','warning','success','info', 'red', 'blue', 'cyan', 'green', 'orange', 'yellow', 'purple';
@breakpoint-names : 'xxs', 'xs', 'sm', 'md', 'lg', 'xl', 'xxl';
@status-names : 'danger','warning','success','info';
