@size-name : "tiny", "mini", "small", "medium", "large", "huge", "wide";
@skin-name : "danger","warning","success","info", "red", "blue", "cyan", "green", "orange", "yellow", "purple";
@brand-name : "primary","secondary","auxiliary";
@status-name : "danger","warning","success","info";
@breakpoint-name : "xxs", "xs", "sm", "md", "lg", "xl", "xxl";
